extends layout/layout
block content
    script(src="../../js/socket.io.js")
    div#chat
        ul
        form
            input.form-control(autocomplete="off", autofocus="", placeholder="Enter your message")
            //button.btn.btn-primary(onclick="printMessage($(#chat input).value);") Send message
    script(src="../../js/chatRoom.js")


