extends layout/layout
block content
    script(src="../../js/socket.io.js")
    div#chat
        ul
        form
            input.form-control(autocomplete="off", autofocus="", placeholder="Enter your message")
    script(src="../../js/chatRoom.js")


